<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a faculty record</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bodyclass">
    <header class="d-flex flex-row align-items-center text-white">
        <h3 class="p-3 mr-auto">Exam Alteration Helper</h3>
        <form action="/admin/logout" method="POST">
            <button class="btn" id="logoutbutton">Logout</button>
        </form>  
    </header>

    <main class="admindash">
        <div >
            <form class="deletefacultyform d-flex flex-column" action="/admin/faculty/edit" method="POST">
                <div class="m-2 form-group">
                    <label for="exampleInputEmail1" class="text-uppercase">Enter the e-mail of the record to be deleted!</label>
                </div>
                <div class="m-2 form-group">
                    <input type="email" class="form-control" placeholder="" name="delete_email">
                </div>
                <div class="m-2 form-group">
                    <button type="submit" class="m-2 btn btn-login float-left" name="delete">Delete this record</button>
                </div>
                
            </form>
        </div>
        <br>
        <div class="m-5" style="overflow-x: auto;">
            <table>
                <th>S.No</th>
                <th>Full Name</th>
                <th>Email Address</th>
                <th>Phone number</th>
                <th>House number</th>
                <th>Street Name</th>
                <th>Area</th>
                <th>City</th>
                <th>State</th>
                <th>Department</th>
                <% if(userData.length!=0){
                    var i=1;
                    userData.forEach(function(data){
                %>
                <tr>
                    <td><%= i; %></td>
                    <td><%= data.f_name %></td>
                    <td><%= data.f_mail_id %></td>
                    <td><%= data.f_phone_no %></td>
                    <td><%= data.f_house_no %></td>
                    <td><%= data.f_street_name %></td>
                    <td><%= data.f_area %></td>
                    <td><%= data.f_city %></td>
                    <td><%= data.state %></td>
                    <td><%= data.f_department %></td>
                </tr>
                <%  i++; }) %>
                <% } else { %>
                    <td>
                        <td colspan="10">No Data Found</td>
                    </td>
                <% } %>
            </table>
        </div>

    </main>


    <footer class="mt-auto">
        <div class="d-flex flex-row justify-content-around p-3">
            <div>
                <form action="/about" method="GET">
                    <button class="btn" id="ftr_btn">About</button>
                </form>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>